<style type="text/css">
table {border-collapse:collapse; border : 1px solid black;}
.tg  {border-collapse:collapse; border : 1px solid black;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-iqo9{font-weight:bold;background-color:#343434;color:#ffffff;text-align:center}
.tg .tg-3zgm{background-color:#343434;color:#ffffff;text-align:center}
.tg .tg-bsv2{background-color:#efefef;text-align:center}
</style>

<p>Dear <%= username%>,</p>
<p>You have successfully submitted <%= v3%><br>Review your submission.</p>
<br>

<table class="tg" style="border-collapse: collapse;border: 1px solid black;">
  <tr>
    <th class="tg-jaop" colspan="7" style="font-family: Arial, sans-serif;font-size: 14px;font-weight: bold;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #680100;color: #ffffff;text-align: center;">Test Submission Review</th>
  </tr>

  <tr>
    <td class="tg-iqo9" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;font-weight: bold;background-color: #343434;color: #ffffff;text-align: center;"><%= k3%></td>
    <td class="tg-bsv2" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #efefef;text-align: center;"><%= v3%></td>
  </tr>

  <tr>
    <td class="tg-iqo9" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;font-weight: bold;background-color: #343434;color: #ffffff;text-align: center;"><%= k6%></td>
    <td class="tg-bsv2" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #efefef;text-align: center;"><%= v6%></td>
  </tr>

  <tr>
    <td class="tg-iqo9" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;font-weight: bold;background-color: #343434;color: #ffffff;text-align: center;"><%= k7%></td>
    <td class="tg-bsv2" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #efefef;text-align: center;"><%= v7%></td>
  </tr>

  <tr>
    <td class="tg-iqo9" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;font-weight: bold;background-color: #343434;color: #ffffff;text-align: center;"><%= k9%></td>
    <td class="tg-bsv2" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #efefef;text-align: center;"><%= v9%></td>
  </tr>

  <tr>
    <td class="tg-iqo9" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;font-weight: bold;background-color: #343434;color: #ffffff;text-align: center;"><%= k10%></td>
    <td class="tg-bsv2" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #efefef;text-align: center;"><%= v10%></td>
  </tr>

  <tr>
    <td class="tg-iqo9" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;font-weight: bold;background-color: #343434;color: #ffffff;text-align: center;"><%= k11%></td>
    <td class="tg-bsv2" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #efefef;text-align: center;"><%= v11%></td>
  </tr>

  <tr>
    <td class="tg-iqo9" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;font-weight: bold;background-color: #343434;color: #ffffff;text-align: center;"><%= k12%></td>
    <td class="tg-bsv2" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #efefef;text-align: center;"><%= v12%></td>
  </tr>

  <tr>
    <td class="tg-iqo9" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;font-weight: bold;background-color: #343434;color: #ffffff;text-align: center;"><%= k14%></td>
    <td class="tg-bsv2" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 20px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;background-color: #efefef;text-align: center;"><%= v14%></td>
  </tr>

  
</table>

<p>Improve your rank by submitting remaining tests in the module.</p>

<br>
<p>Regards,<br>Eckovation Team</p>
